/vendor/*
/config/app.php
/tmp/*
/logs/*
.idea
.env
/webroot/img/student-pictures/*
/webroot/img/student-photos/*
/webroot/img/image-banner.*
/webroot/img/school-logo.png
/config/Migrations/schema-dump-default.lock
config/Seeds/StudentsSeed.php
todo.txt
change-logs.txt
test_db.sqlite
test_db.sqlite-journal