<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="./tests/bootstrap.php"
    >
    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="apc.enable_cli" value="1"/>
    </php>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="Result System Plugin">
            <directory>./plugins/ResultSystem/tests/TestCase/Controller</directory>
            <directory>./plugins/ResultSystem/tests/TestCase/ResultProcessing</directory>
            <directory>./plugins/ResultSystem/tests/TestCase/Model/Table</directory>
            <directory>./plugins/ResultSystem/tests/TestCase/View</directory>
        </testsuite>
        <testsuite name="Grading System Plugin">
            <directory>./plugins/GradingSystem/tests/TestCase</directory>
        </testsuite>
        <testsuite name="Students Manager Plugin">
            <directory>./plugins/StudentsManager/tests/TestCase/Model/Table</directory>
            <directory>./plugins/StudentsManager/tests/TestCase/Controller</directory>
        </testsuite>
        <testsuite name="Subjects Manager Plugin">
            <directory>./plugins/SubjectsManager/tests/TestCase</directory>
        </testsuite>
        <!--<testsuite name="Finance Manager Plugin">-->
            <!--<directory>./plugins/FinanceManager/tests/TestCase/Model</directory>-->
            <!--<directory>./plugins/FinanceManager/tests/TestCase/Controller</directory>-->
        <!--</testsuite>-->

        <!--<testsuite name="Skill Grading System Plugin">-->
            <!--<directory>./plugins/SkillsGradingSystem/tests/TestCase</directory>-->
            <!--<exclude>./plugins/SkillsGradingSystem/tests/TestCase/Model</exclude>-->
        <!--</testsuite>-->
        <!-- Add plugin test suites here. -->
    </testsuites>

    <!-- Setup a listener for fixtures -->
    <listeners>
        <listener
        class="\Cake\TestSuite\Fixture\FixtureInjector"
        file="./vendor/cakephp/cakephp/src/TestSuite/Fixture/FixtureInjector.php">
            <arguments>
                <object class="\Cake\TestSuite\Fixture\FixtureManager" />
            </arguments>
        </listener>
    </listeners>

    <!-- Ignore vendor tests in code coverage reports -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <directory suffix=".php">./plugins/*/src/</directory>
        </whitelist>
    </filter>
</phpunit>
